table.sheet thead{
    text-align: left;
}

table.sheet td, table.sheet th{
    padding: 3px;
}

table.sheet thead{
    font-size: 9pt;
    background-color: #C9E2FC;
}

table.sheet td{
    vertical-align: top;
}
