/*
 * Copyright 2009 Markus Pielmeier
 *
 * This file is part of timesheet.
 *
 * timesheet is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * timesheet is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with timesheet.  If not, see <http://www.gnu.org/licenses/>.
 */

table.sheet thead{
    text-align: left;
}

table.sheet td, table.sheet th{
    padding: 3px;
}

table.sheet thead{
    font-size: 9pt;
    background-color: #C9E2FC;
}

table.sheet td{
    vertical-align: top;
}
